body{
    background-color: rgba(2, 0, 0, 0.95);
}
h1 {
  color: white;
  font-weight: bold;
  font-family: fantasy;
}
body {
  font-family: sans-serif;
}
.button {
  padding: 20px;
  width: 66px;
  font-size: 20px;
}

.button {
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
  background-color: transparent;
}
.button:hover {
  background-color: black;
  color:white;
}
.row {
  margin: 8px 0px;
}
.row input {
  width: 291px;
  height: 50px;
  font-size: 20px;
  margin: 0px;
  padding: 10px 0px;
  border: 2px solid black;
  border-radius: 5px;
}
.container {
border: 4px solid black;
background-color: rgb(143, 212, 212); 
width: 320px;
}
